---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: fix-byte-order-marker
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0']

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py311-plus]

- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.16.0
  hooks:
  - id: reorder-python-imports

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.11.0
  hooks:
  - id: black

- repo: local
  hooks:
  - id: pytest
    name: pytest
    entry: pipenv run python -m pytest
    language: system
    pass_filenames: false
    always_run: true
  - id: flake8
    name: flake8
    entry: pipenv run flake8
    language: system
    types: [python]
